#{extends 'maindash.html'/}
#{set title: 'Modificar Doctor' /}

<h2>Modificar Doctor</h2>

#{ifErrors}
    <h1>Error...</h1>
#{/ifErrors}

<article>
    #{form @Doctores.modificarDoctor()}
        <input type="hidden" name="idDoctor" value="${doctor.id}">
        <p>
            <label for="nombre">Ingrese el Nombre:</label>
            <input type="text" name="nombre" value="${doctor.nombre}" />
            <span class="error">#{error 'nombre' /}</span>
        </p>
        <p>
            <label for="apellido">Ingrese el Apellido:</label>
            <input type="text" name="apellido" value="${doctor.apellido}" />
            <span class="error">#{error 'apellido' /}</span>
        </p>
        <p>
            <label for="fechaNac">Fecha de Nacimiento:</label>
            <input type="text" name="fechaNac" value="${doctor.fechaNac}" />
            <span class="error">#{error 'fechaNac' /}</span>
        </p>
        <p>
            <label>Sexo:</label>
            <select name="sexo" value="${doctor.sexo}">
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select>
        </p>
        <p>
            <label for="direccion">Direccìon:</label>
            <input type="text" name="direccion" value="${doctor.direccion}" />
            <span class="error">#{error 'direccion' /}</span>
        </p>
        <p>
            <label for="telefono">Telefono:</label>
            <input type="text" name="telefono" value="${doctor.telefono}" />
            <span class="error">#{error 'telefono' /}</span>
        </p>
        <p>
            <input type="submit" value="Modificar Doctor" />
        </p>
    #{/form}
</article>