<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Prueba</title>
	<script src="@{'/public/javascripts/jquery-1.7.1.min.js'}"></script>
	<script src="@{'/public/javascripts/bootstrap.js'}"></script>
	<script src="@/public/javascripts/bootstrap-collapse.js'}"></script>

	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/bootstrap.css'}">
	<link href="@{'/public/stylesheets/bootstrap-responsive.css'}" rel="stylesheet">
   <link rel="stylesheet" media="screen" type="text/css" href="@{'/public/stylesheets/estilos_maindash.css'}">
	
</head>
<body>

<div class="bs-docs-example">
            <div class="navbar" style="position: static;">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="#">Génesis Dental</a>
                  <div class="nav-collapse collapse navbar-inverse-collapse">
                    <ul class="nav">
                      <li class="active"><a href="#">Pacientes</a></li>
                      <li><a href="#">Citas</a></li>
                      <li><a href="#">Doctores</a></li>
                      <li><a href="#">Estadisticas</a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="badge badge-warning" id="notification-label">4</span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li class="nav-header">Nav header</li>
                          <li><a href="#">Separated link</a></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                      </li>
                    </ul>
                    <form class="navbar-search pull-left" action="">
                      <input type="text" class="search-query span2" placeholder="Search">
                    </form>
                    <ul class="nav pull-right">
                      <li><a href="#">Más</a></li>
                      <li class="divider-vertical"></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuraciones <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div><!-- /navbar -->
          </div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" id="sidebar">
      <!--Sidebar content-->
        <!-- Button to trigger modal -->
        
    
    </div>
    <div id="content-layout"class="span10">
      <!--Body content-->
      #{doLayout /}
    </div>
  </div>
</div>
<!-- PESTANA FACEBOOK -->
<div id="facebook">
  <div id="flange">
    <img src="@{'/public/images/fb_tab.png'}">
  </div>
     <div id="content-facebook">
    
     </div>
  <div id="border-facebook"></div>
  
</div>
<!-- PESTANA DE GOOGLE -->
<div id="google">
  <div id="google-flange">
    <img src="@{'/public/images/goo_tab.png'}">
  </div>
     <div id="google-content">
    
     </div>
  <div id="google-border"></div>
  
</div>
<!-- PESTANA DE TWITTER -->
<div id="twitter">
  <div id="twitter-flange">
    <img src="@{'/public/images/tw_tab.png'}">
  </div>
  <div id="twitter-border">
     <div id="twitter-content">
    
     </div>
  </div>
  
</div>
<!-- PESTANA DE SLIDEMENU -->
<div id="slidemenu">
  <div id="slidemenu-flange">
    <img src="@{'/public/images/menu.png'}">
  </div>
  <div id="slidemenu-border">
     <div id="slidemenu-content">
        <a href="#myModal" role="button" class="btn btn-warning" data-toggle="modal">Nuevo</a>
     </div>
  </div>
  
</div>

</body>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>

</html>