<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" type="text/css" href="@{'/public/stylesheets/estilos2.css'}">
        <link rel="stylesheet" media="screen" type="text/css" href="@{'/public/stylesheets/bootstrap.css'}">
        <link rel="stylesheet" media="screen" type="text/css" href="@{'/public/stylesheets/bootstrap-responsive.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.7.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/animaciones.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/bootstrap-tooltip.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/bootstrap-twipsy.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/bootstrap-popover.js'}" type="text/javascript"></script>
        #{get 'moreScripts' /}
    </head>
    
    <body>
        <section id="content-layout">
            #{doLayout /}
        </section>
    </body>

    <footer>
        <H6>Todos los derechos reservados Codea.la</H6>
    </footer>
</html>